.gallery{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 5px;
}

.galary-container {
    overflow:scroll;
    height: 500px;
}


  .galary-container::-webkit-scrollbar {
    width: 5px; /* Adjust the width according to your needs */
  }
  
  .galary-container::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .galary-container::-webkit-scrollbar-thumb {
    background-color: black;
  }

  .model{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
  }

  .model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  .model img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
  }

  .model.open ion-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffff;
}

.outer{
    background-color: white;
    border-radius: 50px;
    padding: 15px;
    width: 100%;
}

.album{
  display: grid;
  margin-left: -220px;
  width: 50%;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10px;
  grid-column-gap: 25px;
}

.tile {
  position: relative;
  height: 125px;
  width:200px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px lightgray;
  cursor: pointer;
}
.i {
  height: 125px;
  width:200px;
  border-radius: 10px;
}

.tile::before{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  margin-top: -15px;
  opacity: 0;
  transition: .3s;
  transition-delay: .2s;
}

.farm::before{
    content:"Our Farm";
}
.dispatches::before{
  content:"Dispatches";
}
.customer::before{
  content:"Customer Reviews";
}
.all::before{
  content:"All Images";
}



.tile::after{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius:10px ;
  height: 0;
  background-color: rgba(0,0,0, 0.3);
  transition: .3s;
}

.tile:hover::after{
  height: 100%;
}

.tile:hover::before{
  margin-top:0;
  opacity: 1;
}