.outerbox{
    background-color: papayawhip;
    height: 85vh;
    width: 85%;
    border-radius: 25px;
}

.addP{
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 45px;
}

.addP:hover{
    color: palevioletred;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 45px;
}
